[Unit]
Description=CARP ip %I
Requires=ucarp.target
After=ucarp.target

[Service]
Type=simple
Restart=on-failure
Environment="VIP=%i"
EnvironmentFile=/etc/ucarp/%i.conf
ExecStart=/usr/sbin/ucarp --addr ${VIP} $UCARP_OPTS

[Install]
WantedBy=ucarp.target
